@model MusicStarStore.Models.DTO.VinylListVm
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="term" placeholder="Search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
<section class="vinyls">
      @foreach (var vinyl in Model.VinylList)
    {
      <div class="vinyl-card" onclick="window.location.href='/Home/VinylDetail?vinylId=@vinyl.Id'">
        <div class="vinyl-image">
            <img src="/Uploads/@vinyl.VinylImage">
        </div>
        <div class="vinyl-info">
            <h4>@vinyl.Title</h4>
            <h4>@vinyl.Artist</h4>
            <h4>@vinyl.GenreNames</h4>
        </div>
    </div>
    }
</section>

<div class="pagination">
    @for(int i = 1; i <= Model.TotalPages; i++) 
    {
        if (i == Model.CurrentPage)
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        } else
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
        }
    }
</div>